nav ul ul {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav ul li:hover>ul {
    display: block;
}

nav {
    margin-top: 50px;
    margin-bottom: 0px;
    z-index: -1;
    background-color: #18345b;
}

nav ul {
    background: #888aa3;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float: left;
    width: 16.666%;
    margin: 0px;
}

nav ul li ul li {
    width: 100%;
}

nav ul li:hover {
    background: #18345b;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

nav ul ul {
    background: #888aa3;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 150px;
}

nav ul ul li {
    float: none;
}

nav ul ul li a {
    padding: 20px 20px;
    color: #fff;
}

nav ul ul li a:hover {
    background: #18345b;
}

#logo {
    width: 170px;
}

#cabecalho {
    background-color: #fff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: +1;
}

#corpo {
    height: 2000px;
}

#cabecalho input {
    top: 11px;
    position: fixed;
    padding: 4px;
    margin-left: 20px;
    width: 45%;
}

#cabecalhoLink {
    text-align: center;
    float: right;
    margin: 6px;
    width: 250px;
}

#cabecalhoLink #carrinho {
    position: absolute;
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
    float: right;
    top: 0px;
    right: 5px;
}

#cabecalhoLink #usuario {
    position: absolute;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    float: right;
    top: 5px;
    right: 210px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #888aa379;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.box {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.3);
    padding: 3px;
    margin-top: 100px;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
}

.submit {
    width: 85%;
    height: 50px;
    border: none;
    background-color: #18345b;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3);
}

.submit:hover {
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

.cadastrarLink {
    text-align: center;
}

.txtField {
    margin: 15px;
}

.txtField label {
    left: 20px;
}

.txtField input {
    padding: 10px;
    width: 90%;
}

select {
    padding: 10px;
}

#cadastroP2 {
    display: none;
}

#cadastroP2 .submit {
    width: 34%;
    align-items: center;
}

.produto {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
}

.produto:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: scale(1.05);
    opacity: 0.8;
}

.basic-grid {
    height: 1fr;
    padding: 15px;
    display: grid;
    gap: 1rem;
    /* 4 colunas, tamnho minimo e o tamanho maximo*/
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
        box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width:915px) {
    nav {
        display: none;
    }
    #cabecalho input {
        display: none;
    }
}