nav ul ul {
    display: none;
}
body{
    margin: 0;
    padding: 0
    
}
nav ul li:hover > ul {
    display: block;
}
nav {
    margin: 0 auto
}
nav ul {
	background: #9e9e9e; 
    padding: 0;  
    margin: 0;
	list-style: none;
	position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float: left;
    width: 16.66%;
}
nav ul li ul li {
    width: 100%;
}

nav ul li:hover {
	background: #4b545f;
}

nav ul li:hover a {
	color: #fff;
}
		
nav ul li a {
    display: block; padding: 15px 20px;
    color: #757575; text-decoration: none;
}

nav ul ul {
	background: #5f6975; padding: 0;
    position: absolute; top: 100%;
    width: 150px;
}

nav ul ul li {
	float: none; 

}

nav ul ul li a {
	padding: 15px 20px;
	color: #fff;
}	

nav ul ul li a:hover {
background: #4b545f;
}

#logo{
    width: 170px;
}

div{
    background-color: #b1cff5;
    width: 100%;
}

