nav ul ul {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #ebebeb;
}

nav ul li:hover>ul {
    display: block;
}

nav {
    margin-top: 50px;
    margin-bottom: 0px;
    z-index: -1;
    background-color: #18345b;
    max-width: 1920px;
    min-width: 1300px;
}

nav ul {
    background: #888aa3;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float: left;
    width: 16.666%;
    margin: 0px;
}

nav ul li ul li {
    width: 100%;
}

nav ul li:hover {
    background: #18345b;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

nav ul ul {
    background: #888aa3;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 150px;
}

nav ul ul li {
    float: none;
}

nav ul ul li a {
    padding: 20px 20px;
    color: #fff;
}

nav ul ul li a:hover {
    background: #18345b;
}

#logo {
    width: 170px;
}

#cabecalho {
    background-color: #fff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: +1;
}

#corpo {
    height: 2000px;
}

#cabecalho input {
    top: 7px;
    position: fixed;
    padding: 6px;
    margin-left: 20px;
    width: 45%;
}

#cabecalhoLink {
    text-align: center;
    float: right;
    margin: 6px;
    width: 250px;
}

#cabecalhoLink #carrinho {
    position: absolute;
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
    float: right;
    top: 0px;
    right: 5px;
}

#cabecalhoLink #usuario {
    position: absolute;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    float: right;
    top: 5px;
    right: 210px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #ebebeb;
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.box {
    margin-top: 100px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.3);
    padding: 3px;
    height: fit-content;
    /* suficiente para conter o conteudo*/
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
}

.submit {
    width: 85%;
    height: 50px;
    border: none;
    background-color: #18345b;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}

.submit:hover {
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

.cadastrarLink {
    text-align: center;
}

select {
    padding: 10px;
}

#cadastroP2 {
    display: none;
}

#cadastroP2 .submit {
    width: 34%;
    align-items: center;
}

.produtoLink {
    text-decoration: none;
}

produto:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    opacity: 0.8;
    cursor: pointer;
}

.produtoImg {
    height: 40%;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
}

#imagemProduto {
    float: left;
    margin: 20px;
}

#boxDescricao {
    width: 1000px;
    padding: 15px;
}

.produto {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    text-align: center;
    background: #fff;
    font-size: 16px;
    color: black;
}

.produto:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: scale(1.01);
}

.basic-grid {
    margin: 20px;
    margin-top: 100px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
}

textarea {
    resize: none;
}

#boxAddItem {
    width: 1300px;
    height: fit-content;
}

label {
    float: left;
    margin-left: 2.5%;
    margin-right: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    outline: 0;
}

textarea {
    width: 90%;
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    outline: 0;
}

#btnCP .submit {
    width: 110px;
}

select {
    display: flex;
    margin-left: 10px;
}

#btnCP {
    text-align: right;
    display: flex;
    float: right;
}

.inputPequeno {
    float: left;
    margin: 0;
    margin-top: 5px;
}

.divPequena {
    text-align: center;
    height: 100px;
}

.divPequena .inputPequeno {
    width: 30%;
    margin-left: 2.3%;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: #18345b;
}

table,
th,
td {
    border: 1px solid rgb(169, 169, 169);
}

tr:nth-child(even) {
    background-color: #888aa3;
}

.xButton {
    margin: 0;
    height: 24px;
    width: 24px;
    background-image: url("Imgs/xButton.png");
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.editarButton {
    margin: 0;
    height: 24px;
    width: 24px;
    background-image: url("Imgs/editarButton.png");
    border: none;
    cursor: pointer;
    background-color: transparent;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    }
}

@media screen and (max-width:915px) {
    #cabecalho input {
        display: none;
    }
}